<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="stylesheet" href="/bootstrap.min.css">-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body dir="rtl">

<div id="imageContainer">
    <div id="close"><i class="fas fa-window-close"></i></div>
    <div class="card">
    <div class="arrow" id="arrowRight"><i class="fas fa-angle-right"></i></div>
    <div id="image"></div>
    <div class="arrow" id="arrowLeft"><i class="fas fa-angle-left"></i></div>
    </div>
</div>

<div class="container">
    <div class="info">
        <div class="full-name">
            <span class="first-name">مصطفی</span>
            <span class="last-name">قنبری</span>
        </div>
        <div class="contact-info">
            <a class="icon"
               target="_blank" href="https://www.linkedin.com/in/mostafa-ghanbari-a067381b9">
                <i style="vertical-align: text-bottom" class="fab fa-linkedin"></i>
            </a>
            <a class="icon"
               target="_blank" href="https://jobinja.ir/user/MostafaGhanbari">
                <i class="fas fa-file"></i>
            </a>
            <a class="icon"
               target="_blank" href="https://github.com/mostafaGhanbari9176">
                <i style="vertical-align: text-bottom" class="fab fa-github-square"></i>
            </a>
            <a class="icon"
               href="mailto:godhelot1@outlook.com">
                <i style="vertical-align: text-bottom" class="fas fa-envelope"></i>
            </a>
            <a class="icon"
               href="tel:09157474087">
                <i class="fas fa-mobile-alt"></i>
            </a>
        </div>

        <div class="about">
            <span class="position">Android-Developer</span>
            <br>
            <span class="desc">
                بیش از سه سال است که در حوزه نرم افزار فعالیت دارم. شروع کار بنده با برنامه نویسی اندروید بوده و در حال حاضر مشغول به یادگیری NodeJS هستم و در این میان تجربه ها و مهارت های زیادی در حوزه های مختلف برنامه نویسی کسب کرده ام.
            </span>
            <br>
            <span class="desc">
                بنده به دنبال یک موقعیت شغلی جدید در بین یک تیم فعال و دلسوز هستم این موقعیت شغلی باید همراه با رشد و پیشرفت و درک متقابل بوده و توانایی های اعضا تیم مورد توجه قرار گرفته و از آن ها استفاده شود.
            </span>
        </div>
    </div>
    <div class="details">
        <div class="section">
            <div class="section__title header">تجربه ها</div>
            <div class="section__list">
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">کارآزاد</div>
                        <div class="duration">بهمن 94 - شهریور 96</div>
                    </div>
                    <div class="right">
                        <div class="name">رباتیک</div>
                        <div class="desc">یادگیری و انجام پروژه های رباتیک مبتنی بر میکروکنترلرAVR و ماژول آردوینو. ساخت
                            تابلو روان تحت شبکه مبتنی بر esp8266 و Atmega32. ساخت ربات مسیریاب مبتنی بر ماژول آردوینوUNO
                        </div>
                    </div>
                </div>
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">کلبه هوشمند خلاق اندیشان ماهور</div>
                        <div class="addr">مرکز رشد دانشگاه سیستان و بلوچستان</div>
                        <div class="duration">شهریور 96 - شهرویور 97</div>
                    </div>
                    <div class="right">
                        <div class="name">توسعه دهنده اندروید</div>
                    </div>
                </div>
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">کارآزاد</div>
                        <div class="duration">دی 97 - مهر 98</div>
                    </div>
                    <div class="right">
                        <div class="name">توسعه دهنده اندروید</div>
                    </div>
                </div>
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">ارمغان زاریس هامون</div>
                        <div class="addr">پارک علم و فناوری سیستان و بلوچستان</div>
                        <div class="duration">مهر 98 - مهر 99</div>
                    </div>
                    <div class="right">
                        <div class="name">توسعه دهنده اندروید</div>
                    </div>
                </div>
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">اداره فضای سبز</div>
                        <div class="addr">دانشکاه سیستان و بلوچستان</div>
                        <div class="duration">بهمن 98 - مرداد 99</div>
                    </div>
                    <div class="right">
                        <div class="name">توسعه دهنده وب</div>
                    </div>
                </div>
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">ارمغان زاریس هامون</div>
                        <div class="addr">پارک علم و فناوری سیستان و بلوچستان</div>
                        <div class="duration">مهر 99</div>
                    </div>
                    <div class="right">
                        <div class="name">توسعه دهنده اندروید</div>
                        <div class="desc">پاره وقت و دورکاری</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section__title">تحصیلات</div>
            <div class="section__list">
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">مهندسی برق-الکترونیک</div>
                        <div class="addr">دانشگاه سیستان و بلوچستان</div>
                        <div class="duration">مهر 94 - بهمن 98</div>
                    </div>
                    <div class="right">
                        <div class="name">روزانه</div>
                    </div>
                </div>
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">مهندسی معماری سیستم های کامپیوتری</div>
                        <div class="addr">دانشگاه فردوسی مشهد</div>
                        <div class="duration">آبان 99</div>
                    </div>
                    <div class="right">
                        <div class="name">مجازی دولتی</div>
                    </div>
                </div>

            </div>

        </div>

        <div class="section">
            <div class="section__title">برخی از پروژه ها</div>

            <div class="section__list">

                <div class="section__list-item">
                    <div class="name">گنجه</div>
                    <div class="position">
                        Android(kotlin) - scrapy - postgresql
                    </div>
                </div>

                <div class="section__list-item">
                    <div class="left app">
                        <div class="name">بازی چالش مستر مغز</div>
                        <div class="position">
                            Android(kotlin) - sqlite
                        </div>
                    </div>
                    <div class="right app">
                        <ul>
                            <li><a href="#" class="showImage" id="mr">مشاهده تصاویر</a></li>
                            <li><a href="">دانلود از کافه بازار</a></li>
                            <li><a href="">دانلود مستقیم</a></li>
                        </ul>
                    </div>
                </div>

                <div class="section__list-item">
                    <div class="left app">
                        <div class="name">سامانه فضای سبز دانشگاه سیستان و بلوچستان</div>
                        <div class="position">
                            ASP.NET MVC 5
                        </div>
                    </div>
                    <div class="right app">
                        <ul>
                            <li><a href="">مشاهده تصاویر</a></li>
                        </ul>
                    </div>
                </div>

                <div class="section__list-item">
                    <div class="left app">
                        <div class="name">دوره یاب زاهدان</div>
                        <div class="position">
                            Android(kotlin) - RestAPI(php) - sqlite - mysql
                        </div>

                    </div>
                    <div class="right app">
                        <ul>
                            <li><a href="">مشاهده تصاویر</a></li>
                            <li><a href="">دانلود مستقیم</a></li>
                        </ul>
                    </div>
                </div>

                <div class="section__list-item">
                    <div class="left app">
                        <div class="name">یادآور دارو و ویزیت پزشک</div>
                        <div class="position">
                            Android(kotlin) - sqlite
                        </div>
                    </div>
                    <div class="right app">
                        <ul>
                            <li><a href="">مشاهده تصاویر</a></li>
                            <li><a href="">دانلود از کافه بازار</a></li>
                            <li><a href="">دانلود مستقیم</a></li>
                        </ul>
                    </div>
                </div>

                <div class="section__list-item">
                    <div class="left app">
                        <div class="name">هویج</div>
                        <div class="position">
                            Android(kotlin) - RestAPI(php) - sqlite - mysql
                        </div>
                        <div class="text">
                            اپلیکیشن خدمات مجازی دانشجویان
                            امکانات:
                            چت-به اشتراک گذاری مهارت ها همراه با نمونه کار-وبلاگ-تبلیغ دوره های آموزشی-تبلیغ تخفیفات سطح
                            شهر-اخبار-خرید بلیط-رزرو سلف-به اشتراک گذاری جزوه-کتابخانه شخصی با امکان فروش کتاب و درخواست
                            کتاب-امکان جستجو در مهارت ها و مشاهده نمونه کارها و ...
                        </div>
                    </div>
                    <div class="right app">
                        <ul>
                            <li><a href="">مشاهده تصاویر</a></li>
                            <li><a href="">دانلود مستقیم</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="section">
            <div class="section__title">مهارت ها</div>
            <div class="skills">
                <div class="skills__item">
                    <div class="left">
                        <div class="name">
                            Javascript
                        </div>
                    </div>
                    <div class="right">
                        <input id="ck1" type="checkbox" checked/>

                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" checked/>

                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox"/>

                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox"/>
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox"/>
                        <label for="ck5"></label>

                    </div>
                </div>

            </div>
            <div class="skills__item">
                <div class="left">
                    <div class="name">
                        CSS
                    </div>
                </div>
                <div class="right">
                    <input id="ck1" type="checkbox" checked/>

                    <label for="ck1"></label>
                    <input id="ck2" type="checkbox" checked/>

                    <label for="ck2"></label>
                    <input id="ck3" type="checkbox"/>

                    <label for="ck3"></label>
                    <input id="ck4" type="checkbox"/>
                    <label for="ck4"></label>
                    <input id="ck5" type="checkbox"/>
                    <label for="ck5"></label>

                </div>
            </div>

        </div>
        <div class="section">
            <div class="section__title">
                علاقه مندی ها
            </div>
            <div class="section__list">
                <div class="section__list-item">
                    Football, programming.
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/jquery.js"></script>
<script src="/js/main.js"></script>

</body>
</html>