<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/resume.css">
</head>
<body dir="rtl">
<div class="row" id="content">
    <div class="col-md-3">
        <div id="personalContent" class="card">
            <img src="img/myself.JPG" alt="">
            <h5>مصطفی قنبری</h5>
            <a href="tel:0915747087"> ۰۹۱۵۷۴۷۴۰۸۷ 📱 </a>
            <a href="mailto:godhelot1@outlook.com"> godhelot1@outlook.com 📧 </a>
        </div>
    </div>
    <div class="col-md-8">
        <div id="skillContent" class="card">
            <h5 class="header">درباره من</h5>
            <div class="card-body">
                <p>
                    چیزهایی که از انجام اون ها لذت میبرم و بهم انگیزه میدن :

                    * خلق کردن که می تونه یک نرم افزار باشه یا یک سخت افزار
                    * برنامه نویسی
                    * کار تیمی
                    * یادگیری دانش جدید
                    * رقابت
                    * رباتیک
                    * گوش دادن به موسیقی

                    --------------------------------------------------

                    درحال حاضر مشغول به یادگیری کامل و عمیق NodeJS هستم.
                </p>
            </div>
            <h5 class="header">مهارت ها</h5>
            <div class="row">
            <span class="badge badge-pill badge-success">Android Developer</span>
            <span class="badge badge-pill badge-primary">SQL</span>
            <span class="badge badge-pill badge-primary">RestApi</span>
            </div>
            <h5 class="header">نمونه کار ها</h5>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/img/coursefinder/ic.png" alt="دوره یاب">
                        <div class="card-body">
                            <h5 class="card-title">دوره یاب</h5>
                            <p class="card-text">
                                mobile: <strong>java</strong>
                                back-end: <strong>php-slim framework</strong>
                                db: <strong>mysql</strong>
                            </p>
                            <a href="#" class="btn btn-outline-primary btn-sm">جزییات/دانلود</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/img/mrbrainchalange/ic.png" alt="چالش مستر مغز">
                        <div class="card-body">
                            <h5 class="card-title">بازی چالش مستر مغز</h5>
                            <p class="card-text">
                                mobile: <strong>kotlin</strong>
                                db: <strong>sqlite</strong>
                            </p>
                            <a href="#" class="btn btn-outline-primary btn-sm">جزییات/دانلود</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/img/reminder/ic.png" alt="یادآور دارو و ویزیت پزشک">
                        <div class="card-body">
                            <h5 class="card-title">یادآور دارو و ویزیت پزشک</h5>
                            <p class="card-text">
                                mobile: <strong>kotlin</strong>
                                db: <strong>sqlite</strong>
                            </p>
                            <a href="#" class="btn btn-outline-primary btn-sm">جزییات/دانلود</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>